
@inject IEmployeesRepository Employee

@{
    var currentUser = await Employee.getCurrentUserInformations(User.Identity.Name);
}


<!DOCTYPE html>
<html lang="en" dir="rtl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>پنل مدیریتی کاربران</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
          integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/fontstyle.css">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/fontiran.css">
    @RenderSection("StylesOnViews", false)
</head>

<body>
    <header>
        <!-- navbar -->
        <nav class="navbar navbar-expand-md navbar-light">
            <button class="navbar-toggler mb-2 bg-light" type="button" data-toggle="collapse" data-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <div class="container-fluid">
                    <div class="row">

                        <!-- sidebar -->
                        <div class="col-xl-2 col-lg-3 col-md-4 sidebar fixed-top">
                            <a href="#" class="navbar-brand text-white d-block mx-auto text-center py-3 mb-4 bottom-border">
                                پنل
                                مدیریتی پزشکان
                            </a>
                            <div class="d-flex justify-content-center align-self-center bottom-border pb-2">
                                <img src="/uploadImages/@if(currentUser != null){ @currentUser.imageName }" alt="" width="40" height="30" class="rounded-circle ml-2">
                                <a href="#" class="text-white">
                                    @if (currentUser != null)
                                    {

                                        @currentUser.firstName <label id="Lbl_currentUser"> </label> @currentUser.lastName;
                                    }
                                    else
                                    {
                                        @User.Identity.Name
                                    }
                                </a>
                            </div>
                            <ul class="navbar-nav flex-column text-right mt-2">
                                <li class="nav-item pl-3">
                                    <a asp-controller="Home" asp-action="Index" asp-area="doctorPanel" class="nav-link text-dark p-2 mb-2 current">
                                        <i class="fas fa-home text-dark fa-lg ml-3"></i>لیست امکانات
                                    </a>
                                </li>

                                <li class="nav-item pl-3">
                                    <a asp-controller="Profile" asp-action="Index" asp-area="doctorPanel" class="nav-link text-white p-2 mb-2 sidebar-link">
                                        <i class="fas fa-user text-light fa-lg ml-3"></i>پروفایل
                                    </a>
                                </li>

                                <li class="nav-item pl-3">
                                    <a asp-controller="Prescription" asp-action="Index" asp-area="doctorPanel" class="nav-link text-white p-2 mb-2 sidebar-link">
                                        <i class="fas fa-envelope text-light fa-lg ml-3"></i>لیست نسخه ها
                                    </a>
                                </li>

                                <li class="nav-item pl-3">
                                    <a asp-controller="Notes" asp-action="Index" asp-area="doctorPanel" class="nav-link text-white p-2 mb-2 sidebar-link">
                                        <i class="fas fa-envelope text-light fa-lg ml-3"></i>لیست یاداشت بیمار
                                    </a>
                                </li>

                                <li class="nav-item pl-3">
                                    <a asp-controller="Turns" asp-action="Index" asp-area="doctorPanel" class="nav-link text-white p-2 mb-2 sidebar-link">
                                        <i class="fas fa-shopping-cart text-light fa-lg ml-3"></i>لیست رزرو ها
                                    </a>
                                </li>

                                <li class="nav-item pl-3">
                                    <a asp-controller="patients" asp-action="Index" asp-area="doctorPanel" class="nav-link text-white p-2 mb-2 sidebar-link">
                                        <i class="fas fa-chart-line text-light fa-lg ml-3"></i>لیست پرونده ها
                                    </a>
                                </li>

                                <!-- <li class="nav-item pl-3">
                                  <a href="#" class="nav-link text-white p-2 mb-2 sidebar-link"><i
                                      class="fas fa-chart-bar text-light fa-lg ml-3"></i>نمودار</a>
                                </li>

                                <li class="nav-item pl-3">
                                  <a href="#" class="nav-link text-white p-2 mb-2 sidebar-link"><i
                                      class="fas fa-table text-light fa-lg ml-3"></i>جدول ها</a>
                                </li>

                                <li class="nav-item pl-3">
                                  <a href="#" class="nav-link text-white p-2 mb-2 sidebar-link"><i
                                      class="fas fa-wrench text-light fa-lg ml-3"></i>تنظیمات</a>
                                </li>

                                <li class="nav-item pl-3">
                                  <a href="#" class="nav-link text-white p-2 mb-2 sidebar-link"><i
                                      class="fas fa-file-alt text-light fa-lg ml-3"></i>مستندات</a>
                                </li> -->
                            </ul>
                        </div>
                        <!--end of sidbar -->
                        <!-- top nav -->
                        <div id="top_nav" class="col-xl-10 col-lg-9 col-md-8 mr-auto  fixed-top py-2 top-navbar">
                            <div class="row align-items-center">
                                <div class="col-md-3 text-right mb-0">
                                    <h4 class="text-dark">مطب دکتر حسین سلامی</h4>
                                </div>
                                <div class="col-md-6">
                                    <!-- <form>
                                      <div class="input-group">
                                        <input type="text" class="form-control search-input" placeholder="جستجو....">
                                        <button type="button" class="btn btn-light search-button">
                                          <i class="fas fa-search text-danger"></i>
                                        </button>
                                      </div>
                                    </form> -->
                                </div>
                                <div class="col-md-3">
                                    <ul class="navbar-nav">
                                        <li>
                                            <a href="#" class="nav-link text-danger">
                                                <i class="fas fa-comment text-muted fa-lg"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" class="nav-link">
                                                <i class="fas fa-bell text-muted  "></i>
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a asp-controller="Home" asp-action="Logout" asp-area="secretaryPanel" asp-route-returnUrl="/doctorPanel" class="nav-link">
                                                <i class="fas fa-sign-out-alt  fa-lg mr-auto"></i>
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="#" class="nav-link" data-toggle="modal" data-target="#sing-out">
                                                @if (currentUser != null)
                                                {

                                                    @currentUser.firstName <label id="Lbl_currentUser"> </label> @currentUser.lastName;
                                                }
                                                else
                                                {
                                                    @User.Identity.Name
                                                }
                                                @*<img class="img-circle" style="max-height:2em; max-width:3em;" src="~/uploadImages/@currentUser.imageName" alt="بدون عکس" />*@
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- end of top nav -->
                    </div>
                </div>
            </div>
        </nav>
        <!-- end of navbar -->
    </header>

    <main class="row">
        <!-- model -->
        <div class="modal fade" id="sing-out">
            <div class="modal-dialog ">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">
                            میخواهید خارج شوید؟
                        </h4>
                        <button type="button" class="close mx-0" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body text-right">
                        آیا میخواهید خارج شوید؟؟
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-success ml-4 w-50" data-dismiss="modal">خیر</button>
                        <button type="button" class="btn btn-danger w-50" data-dismiss="modal">بله</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- end of model -->

        <div id="Content" class="col-lg-10 mr-lg-auto">
            @RenderBody()
        </div>
    </main>
    <script src="/js/jquery-3.3.1.min.js"></script>
    <script src="/js/adminPopper.js"></script>
    <script src="/js/bootstrap.js"></script>
    <script src="/js/adminScript.js"></script>
    @RenderSection("ScriptsOnViews", false)
</body>

</html>