
@model IEnumerable<patients>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/secretaryPanel/Views/Shared/_secretaryLayout.cshtml";
}



<div class="row" id="searchField">
    <section class="col-lg-4 col-md-4 col-sm-4 col-xl-4">
        <section class="row">
            <section class="col-lg-6 col-md-6 col-sm-6 col-xl-6">
                <label>شماره ملی بیمار :</label>
            </section>
        </section>
    </section>
    <section class="col-lg-4 col-md-4 col-sm-4 col-xl-4 text-center">
        <input type="text" class="form-control" id="searchContent" placeholder="شماره ملی بیمار را وارد کنید ...">
    </section>
    <section class="col-lg-4 col-md-4 col-sm-4 col-xl-4 text-right">
        <a id="searchButton" class="btn btn-success">جست و جو</a>
    </section>
</div>

<div class="alert alert-warning text-right">
    <h4>برای دیدن جزییات دقیق میتوانید رو دکمه ویرایش کلیک کنید</h4>
</div>

<div class="alert alert-success text-right">
    <a asp-controller="patients" asp-action="insertData" asp-area="secretaryPanel" class="btn btn-success">تشکیل پرونده جدید</a>
</div>

<table id="reserveList" class="table table-hover table-bordered">
    <thead class="thead-dark">
    <th>کد شناسایی</th>
    <th>تصویر</th>
    <th>شماره ملی</th>
    <th>نام و نام خانوادگی</th>
    <th>نام پدر</th>
    <th>تاریخ تولد</th>
    <th>عملیات</th>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.patientsID</td>
                <td><img src="~/uploadImages/@item.imageName" alt="عکس موجود نیست" title="عکس مریض" class="img-responsive img-thumbnail" style="max-width:5em !important; max-height:60px;" /></td>
                <td>@item.nationalNumber</td>
                <td>@item.firstName @item.lastName</td>
                <td>@item.fatherName</td>
                <td>@item.birthDate</td>
                <td>
                    <a asp-controller="patients" asp-action="updateData" asp-area="secretaryPanel" asp-route-id="@item.patientsID" class="btn btn-sm btn btn-warning">ویرایش</a>
                    <a onclick="deletePatients(@item.patientsID)" class="btn btn-sm btn btn-danger" id="deletePatients">حذف</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<div class="modal" tabindex="-1" role="dialog" id="Modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header" id="headerModal">
                <h5 class="modal-title" id="ModalTitle">Modal title</h5>
                @*<button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>*@
            </div>
            <div class="modal-body text-right" id="ModalBody">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" id="AcceptDelete">بله</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">خیر</button>
            </div>
        </div>
    </div>
</div>


