
@model IEnumerable<SecretaryReserveList_ViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/secretaryPanel/Views/Shared/_secretaryLayout.cshtml";
}


<div class="row" id="searchField">
    <section class="col-lg-2 col-md-2 col-sm-2 col-xl-2">
        <section class="row">
            <section class="col-lg-6 col-md-6 col-sm-6 col-xl-6">
                <label>تاریخ :</label>
            </section>
        </section>
    </section>
    <section class="col-lg-4 col-md-4 col-sm-4 col-xl-4 text-center">
        <input type="text" class="form-control" id="TurnsDateBoxSearch" placeholder="تاریخ را وارد کنید ...">
    </section>
    <section class="col-lg-4 col-md-4 col-sm-4 col-xl-4 text-right">
        <a id="TurnssearchButton" class="btn btn-success">جست و جو</a>
    </section>
</div>

<table id="reserveList" class="table table-hover table-bordered">
    <thead class="thead-dark">
    <th>کد رهگیری</th>
    <th>تاریخ رزرو</th>
    <th>تاریخ امروز</th>
    <th>مشخصات دکتر</th>
    <th>عملیات</th>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.turnsID</td>
                <td>@item.reserveDate</td>
                <td>@DateTime.Now.toShamsi()</td>
                <td>@item.doctorFullName</td>
                <td>
                    <a asp-controller="Turns" asp-action="Details" asp-area="secretaryPanel" asp-route-id="@item.turnsID" class="btn btn-sm btn btn-primary">جزییات</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@section ScriptsViews{ 
    <script src="~/js/SecretaryTurnsScript.js"></script>
}
